.cab{
    background-color: var(--branco);
    display: flex;
    
    align-items: center;
    position: relative;
}
.conteiner{
    display: flex;
    align-items: center;
}
.conteiner_botao{
    display:none;
}
.cab_menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.conteiner_img{
    padding: 1em;
}
.lista_menu{
  display: none;
  position: absolute;
  top: 90%;
  background-color: var(--branco);
  width: 30vw;  
}
.lista_menu_tit{
    color:#5a06f7;
    font-weight: 800px;
}

.conteiner_botao:checked~.lista_menu{
    display: block;
    
}
.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
}
.conteiner_tit, .conteiner_frase{
    display: none;;
}
@media screen and (min-width:820px){
    .conteiner_tit, .conteiner_tit-inf{
        font-size: 30px;
    }
    .conteiner_tit{
        display: block;
    }
}
@media screen and (min-width:1024px) {
    .conteiner_frase{
        display: block;
        font-size: 20px;
    }
}
.conteiner_tit{
    color:#000000;
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
}
.conteiner_tit-inf{
    color:#fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}