.titulo{
    font-size: 45px;
    text-align: center;
    padding: 30px;
    text-shadow: -5px 0 #fff, 0 5px #fff, 5px 0 #fff, 0 -5px #fff;
    margin-top: 30px;
    
}
.imgind{
    height: auto;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
}
.txtind{
    text-align: center;
    font-size: 40px;
    margin:auto;
    color: #fff;
}
.ap{
    display:flex;
    text-align:justify;
    border-top: 10px;
    border-bottom: 10px;
    }

.categ{
    text-align: center;
    font-size: 40px;
    margin:auto;
    color: #fff;
}
.categtit{
    font-size: 70%;
}
.categit{
    font-size: 60%;
    color: #cacaca;
}
.categit:hover{
    transform: scale(1.2);
    color: #fafafa;
}
@media screen and (max-width:800px){
    .ap{
        display: contents;
        width: 20%;
        height: 20%;
        font-size: 20px;
    }
    .titulo{
        font-size: 25px;
    }
    .categ{
        font-size: 40%;
    }
    .imgind{
        .imgind{
        width: 10%;
        height: 10%;
    }
    }
}
