@import url(header.css);
@import url(aba.css);
:root{
    --cor-de-fundo:#383838;
    --branco:#282828;
    --cinza:#303030;
}
body{
    background-image: url(../img/fnd.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Ft';
    line-height: 1.2;
    
}
@font-face {
    font-family: 'Ft';
    src: url(Azonix.otf) format('opentype');
    size-adjust: 150%;
}
a{
    text-decoration: none;
    text-decoration-color:unset;
}
footer{
    background-image: url(../img/rdp.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
.footerimg{
    width: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.tt{
    background-image: url(../img/rdp.png);
    background-repeat: no-repeat;
    background-size: cover;
}