@import url(header.css);
:root{
    --cor-de-fundo:#383838;
    --branco:#282828;
    --cinza:#303030;
}
body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Wallpoet';
    
}
@font-face {
    font-family: 'Wallpoet';
    src: url(Wallpoet-Regular.ttf) format('truetype');
    size-adjust: 150%;
}
a{
    text-decoration: none;
    text-decoration-color:unset;
}