.titulo{
    font-size: 45px;
    text-align: center;
    padding: 30px;
    text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
    margin-top: 30px;
    
}
.imgind{
    height: auto;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.txtind{
    text-align: center;
    font-size: 40px;
    margin:auto;
    color: #fff;
}
.ap{
    display:flex;
    text-align:justify;
    border-top: 10px;
    border-bottom: 10px;
    }

.categ{
    text-align: center;
    font-size: 40px;
    margin:auto;
    color: #fff;
}
.categtit{
    font-size: 70%;
}
.categit{
    font-size: 60%;
    color: #cacaca;
}
.categit:hover{
    transform: scale(1.2);
    color: #fafafa;
}
.txtexp{
    font-size: 35px;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-align:justify;
    padding: 20px;
}
.exp{
    margin:auto
}
.imgexp{
    border-radius: 30px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:850px){
    .ap, .exp{
        display: contents;
        width: 25%;
        height: 25;
        font-size: 10px;
    }.imgind, .imgexp{
        width: 60%;
        align-self: auto;
    }
    .titulo{
        font-size: 20px;
    }
    .txtexp{
        font-size: 20px;
    }
}
